body {
    background-color: #09193d;
    color: #fff;
    font-family: 'Vibur', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8);
}
/*a cool looking thing that looks exactly like a paper airplane, it is used in the math plane game*/
.paper-airplane {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffeb3b;
    position: relative;
    animation: fly 5s linear infinite;
}
/*exactly the same as a stickman but it is used in the math plane game, it is the player character and is on the plane*/
.you {
    width: 20px;
    height: 50px;
    background-color: #ffeb3b;
    position: absolute;
    top: -50px;
    left: 15px;
    animation: fly 5s linear infinite;
}

.game-container {
    position: relative;
    width: 600px;
    height: 200px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* a button that has the same glow form the stopwatch but it is used in the math plane game, it is used to start the game and to answer questions */
.btn {
    background-color: #ffeb3b;
    border: none;
    color: #09193d;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffeb3b;
    font-family: 'Vibur', cursive;
    font-size: 16px;
}
   